<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobileclient.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
         android:targetSdkVersion="8"
         /> 

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:name="com.mobileclient.app.Declare">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="MainActivity"></activity>
        <activity android:name="MoreActivity"></activity>
        <activity android:name="AboutActivity"></activity>
        <activity android:name="RegisterActivity"></activity>
        <activity android:name="MainMenuActivity"></activity>
        <activity android:name="UserInfoListActivity"></activity>
        <activity android:name="UserInfoQueryActivity"></activity>
        <activity android:name="UserInfoAddActivity"></activity>
        <activity android:name="UserInfoEditActivity"></activity>
        <activity android:name="UserInfoDetailActivity"></activity>
        <activity android:name="DepartmentListActivity"></activity>
        <activity android:name="DepartmentQueryActivity"></activity>
        <activity android:name="DepartmentAddActivity"></activity>
        <activity android:name="DepartmentEditActivity"></activity>
        <activity android:name="DepartmentDetailActivity"></activity>
        <activity android:name="DoctorListActivity"></activity>
        <activity android:name="DoctorQueryActivity"></activity>
        <activity android:name="DoctorAddActivity"></activity>
        <activity android:name="DoctorEditActivity"></activity>
        <activity android:name="DoctorDetailActivity"></activity>
        <activity android:name="OrderInfoListActivity"></activity>
        <activity android:name="OrderInfoQueryActivity"></activity>
        <activity android:name="OrderInfoAddActivity"></activity>
        <activity android:name="OrderInfoEditActivity"></activity>
        <activity android:name="OrderInfoDetailActivity"></activity>
        <activity android:name="TimeSlotListActivity"></activity>
        <activity android:name="TimeSlotQueryActivity"></activity>
        <activity android:name="TimeSlotAddActivity"></activity>
        <activity android:name="TimeSlotEditActivity"></activity>
        <activity android:name="TimeSlotDetailActivity"></activity>
        <activity android:name="VisitStateListActivity"></activity>
        <activity android:name="VisitStateQueryActivity"></activity>
        <activity android:name="VisitStateAddActivity"></activity>
        <activity android:name="VisitStateEditActivity"></activity>
        <activity android:name="VisitStateDetailActivity"></activity>
        <activity android:name="LeaveWordListActivity"></activity>
        <activity android:name="LeaveWordQueryActivity"></activity>
        <activity android:name="LeaveWordAddActivity"></activity>
        <activity android:name="LeaveWordEditActivity"></activity>
        <activity android:name="LeaveWordDetailActivity"></activity>

        <activity android:name="photoListActivity"></activity>
        <activity android:name="fileListActivity"></activity>
    </application>

    
    <uses-permission android:name="android.permission.INTERNET" />

	<!-- 文件读写权限 -->
	
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE"></uses-permission>
	
	
</manifest>
